$keyword: 300;
$string: 220;
$func: 150;

pre {
    padding: 10px;
    background-color: hsl(0, 0%, 5%);
    font-family: "JetBrains Mono", monospace;
}

pre code.hljs {
    & span.hljs-keyword {
        color: hsl($keyword, 30%, 60%);
    }
    & span.hljs-string {
        color: hsl($string, 50%, 70%);
    }
}
