$maxwidth: 1000px;
$tint: 320; // purple!
.main {
    height: 100vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    @media screen and (max-width: 700px) {
        height: 90vh;
    }
    & .top {
        z-index: 99;
        background-color: hsl(0, 0%, 0%);

        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        padding: 10px 2rem;
        width: 100%;
        max-width: $maxwidth;

        & .recentlyListened {
            display: flex;
            gap: 20px;
            align-items: center;
            z-index: 100;

            & img {
                border-radius: 10px;
            }
            & .meta {
                display: flex;
                flex-direction: column;
                gap: 5px;
                & .note {
                    cursor: pointer;
                    display: flex;
                    gap: 11px;
                    & span {
                        color: hsl(0, 0%, 50%);
                    }
                    & svg {
                        transform: translateY(1px);
                        color: hsl($tint, 0%, 50%);
                        font-size: 0.7rem;
                    }
                }
                & .musicpopover {
                    position: absolute;
                    top: 50px;
                    border: 1px solid hsl(0, 0%, 10%);
                    background-color: hsl(0, 0%, 0%);
                    color: hsl(0, 0%, 90%);
                    padding: 15px;
                    border-radius: 5px;
                    width: 90%;
                    max-width: 280px;
                    & a {
                        color: hsl($tint, 50%, 70%);
                    }
                    & ul {
                        padding: 0 15px;
                        margin: 10px 0 0 0;
                        & li {
                            padding: 3px 0;
                        }
                    }
                }
                & p {
                    margin: 0;
                }
            }
        }

        & .links {
            display: flex;
            gap: 20px;
            justify-content: right;
            & a {
                padding: 10px;
            }
        }

        @media screen and (max-width: 700px) {
            & .links,
            .recentlyListened {
                width: 100%;
            }
            & .links {
                align-items: end;
                gap: 2px;
            }

            & .recentlyListened .meta .musicpopover {
                max-width: none;
            }
            padding: 1rem 2rem;
            gap: 20px;

            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }
    }
    & .center {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: $maxwidth;
        width: 90%;
        padding: 0 2rem;
        margin: 0 auto;

        @media screen and (max-width: 700px) {
            width: 100%;
        }

        & .maincontainer {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 50px;

            @media screen and (max-width: 700px) {
                grid-template-columns: auto;
            }
            & h1 {
                font-weight: 400;
                color: hsl($tint, 60%, 87%);
                font-size: 1.8rem;
                margin-top: 0;
                margin-bottom: 30px;
            }
            & h4 {
                font-weight: 500;
                color: hsl(0, 0%, 50%);
            }

            & p {
                color: hsl(0, 0%, 90%);
                & a {
                    color: hsl($tint, 50%, 70%);
                }
            }
            & .news {
                max-width: 350px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                & .box {
                    & h3 {
                        font-weight: 500;
                        margin: 0 0 12px 0;
                    }
                    & p {
                        margin: 0 0 20px 0;
                    }
                    & .links {
                        display: grid;
                        grid-template-columns: auto auto;
                        gap: 10px;
                    }
                }
                & hr {
                    color: hsl(0, 0%, 10%);
                    width: 90%;
                }
            }
        }
    }
}
