$maxwidth: 1000px;
$tint: 320; // purple!

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;

    & h1 {
        font-size: 2rem;
        margin: 0;
    }

    & .buttons {
        margin-top: 10px;
        display: flex;
        gap: 5px;
        gap: 10px;
        & a {
            transition: 150ms ease;
            color: hsl($tint, 30%, 80%);
            background-color: hsl($tint, 20%, 10%);
            border: 0;
            padding: 5px 13px;
            cursor: pointer;
            border-radius: 5px;
            width: fit-content;
            &:hover {
                background-color: hsl($tint, 20%, 20%);
            }
        }
        @media screen and (max-width: 500px) {
            flex-direction: column;
        }
    }
}
