.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    & h1 {
        margin: 0;
    }

    & .buttons {
        margin-top: 10px;
        display: flex;
        gap: 5px;
        gap: 10px;
        & a {
            transition: 150ms ease;
            color: hsl(150, 30%, 80%);
            background-color: hsl(150, 20%, 15%);
            border: 0;
            padding: 5px 20px;
            cursor: pointer;
            border-radius: 10px;
            width: fit-content;
            &:hover {
                background-color: hsl(150, 20%, 20%);
            }
        }
    }
}
